// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.comment-reply {
    display: none;
}

.reply {
    display: none;
}

.toggle-comment-reply {
    position: relative;
    top: -50px;
}

.toggle-reply {
    position: relative;
    top: -60px;
}
